---
import SkillsIcons from "./React-components/SkillsIcons.jsx";
---

<section id="skills">
  <div class="section-container">
    <h2 data-lang="skills">Skills</h2>
    <div class="skills-container flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center items-center">
        <h2 class="my-3" data-lang="skillsIKnow">I Know:</h2>
        <div class="flex flex-wrap justify-center items-center gap-3">
          <div class="flex flex-col gap-2 border border-white rounded-lg p-3">
            <h3 data-lang="dataAnalyst">Data Analyst</h3>
            <div class="flex flex-wrap justify-center items-center">
              <SkillsIcons
                client:load
                showReactIcon={false}
                showViteIcon={false}
                showTailwindIcon={false}
                showJSIcon={false}
                showHTMLIcon={false}
                showCSSIcon={false}
                showPythonIcon={true}
                showExcelIcon={true}
                showSapIcon={true}
                showJupyterIcon={true}
                showVsCodeIcon={false}
                showGitIcon={false}
                showGithubIcon={false}
                showAstroIcon={false}
                showPowerBIIcon={false}
                showLinuxIcon={false}
                showPostgreSQLIcon={false}
                showMySQLIcon={false}
                showNodeJSIcon={false}
                showExpressJSIcon={false}
              />
            </div>
          </div>
          <div class="flex flex-col gap-2 border border-white rounded-lg p-3">
            <h3>Frontend</h3>
            <div class="flex flex-wrap justify-center items-center">
              <SkillsIcons
                client:load
                showReactIcon={true}
                showViteIcon={true}
                showTailwindIcon={true}
                showJSIcon={true}
                showHTMLIcon={true}
                showCSSIcon={true}
                showPythonIcon={false}
                showExcelIcon={false}
                showSapIcon={false}
                showJupyterIcon={false}
                showVsCodeIcon={false}
                showGitIcon={false}
                showGithubIcon={false}
                showAstroIcon={true}
                showPowerBIIcon={false}
                showLinuxIcon={false}
                showPostgreSQLIcon={false}
                showMySQLIcon={false}
                showNodeJSIcon={false}
                showExpressJSIcon={false}
              />
            </div>
          </div>
          <div class="flex flex-col gap-2 border border-white rounded-lg p-3">
            <h3>General</h3>
            <div class="flex flex-wrap justify-center items-center">
              <SkillsIcons
                client:load
                showReactIcon={false}
                showViteIcon={false}
                showTailwindIcon={false}
                showJSIcon={false}
                showHTMLIcon={false}
                showCSSIcon={false}
                showPythonIcon={false}
                showExcelIcon={false}
                showSapIcon={false}
                showJupyterIcon={false}
                showVsCodeIcon={true}
                showGitIcon={true}
                showGithubIcon={true}
                showAstroIcon={false}
                showPowerBIIcon={false}
                showLinuxIcon={true}
                showPostgreSQLIcon={false}
                showMySQLIcon={false}
                showNodeJSIcon={false}
                showExpressJSIcon={false}
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <h2 class="my-3" data-lang="skillsLearning">I'm learning:</h2>
        <div class="flex flex-col gap-2 border border-white rounded-lg p-3">
          <h3>Backend</h3>
          <div class="flex flex-wrap justify-center items-center">
            <SkillsIcons
              client:load
              showReactIcon={false}
              showViteIcon={false}
              showTailwindIcon={false}
              showJSIcon={false}
              showHTMLIcon={false}
              showCSSIcon={false}
              showPythonIcon={true}
              showExcelIcon={false}
              showSapIcon={false}
              showJupyterIcon={false}
              showVsCodeIcon={false}
              showGitIcon={false}
              showGithubIcon={false}
              showAstroIcon={false}
              showPowerBIIcon={false}
              showLinuxIcon={false}
              showPostgreSQLIcon={true}
              showMySQLIcon={true}
              showNodeJSIcon={true}
              showExpressJSIcon={true}
            />
          </div>
        </div>
      </div>
    </div>
    <h2 class="mt-5" data-lang="everydayLearning">¡Every day I try to learn something new!</h2>
  </div>
</section>

<style>
  @media (max-width: 900px) {
  }
</style>
